<div class="nav">
  <div class="window">
    <%= image_tag "002.jpg" %>
    <ul class="topbar">
      <%= render "devise/menu/registration_items" %>
      <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
      <%= render "devise/menu/login_items" %>
      <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
      <li>
        <%= image_tag "icon_order.png" %>
        <%= link_to "我的订单", tour_orders_path %>
      </li>
    </ul> 
  </div>
  <div class="menu">
    <div class="window">
      <ul class="topmenu">
        <%= nav_link_to '首页', root_path, {}, {:wrapper => 'li', :url_segment => 1 } %>
        <%= nav_link_to "景点", tours_path, {}, {:wrapper => 'li', :url_segment => 1} %>
        <%= nav_link_to("酒店", hotels_path, {}, {:wrapper => 'li', :url_segment => 1} ) %>
        <li>美食</li>
      </ul>
      <div class="order">
          <%= form_tag(tours_path, method: "get") do %>
            <%= text_field_tag :search, params[:search], placeholder: "请输入景点名、城市或相关描述" %>
            <%= submit_tag " ", name: nil, class: "query" %>
          <% end %>
      </div>
    </div>
  </div>
</div>