<div class="nav">
  <div class="window">
    <%= image_tag "002.jpg" %>
    <ul class="topbar">
      <%= render "devise/menu/registration_items" %>
      <li>&nbsp;|&nbsp;</li>
      <%= render "devise/menu/login_items" %>
    </ul>
    <div class="search">
      <input type="text" />
      <%= image_tag "search.jpg" %>
    </div>
  </div>
  <div class="menu">
    <div class="window">
      <ul class="topmenu">
        <%= nav_link_to '首页', root_path, {}, {:wrapper => 'li' } %>
        <%= nav_link_to "景点", tours_path, {}, {:wrapper => 'li'} %>
        <%= nav_link_to("酒店", hotels_path, {}, {:wrapper => 'li'} ) %>
        <li>美食</li>
      </ul>
      <div class="order">
        <%= link_to("我的订单", tour_orders_path) %>
        &nbsp;|&nbsp;<a href="#">手机APP</a>
      </div>
    </div>
  </div>
</div>