<%= nested_form_for([:admin, @admin_tour], :html => { :multipart => true }) do |f| %>
  <div class="form_div">
    <div class="error">错误信息</div>
    <ul>
      <li class="line first">
        <span class="field_name"><label>*</label>标题:</span>
         <%= f.text_field :title, class: "text" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>小标题:</span>
        <%= f.text_field :sub_title, class: "text" %>
        <span class="remark">景点简单介绍，显示在景点详细页标题下方</span>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>城市:</span>
        <%= collection_select(:tour, :city_id, City.all, :id, :name,{:prompt=>true}, {:class=>'select'}) %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>地址:</span>
        <%= f.text_field :addr, class: "text" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>价格:</span>
        <%= f.text_field :price, class: "text" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>开放时间:</span>
        <%= f.text_field :work_range, class: "text" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>提示:</span>
        <%= f.text_area :hint, class: "text_area" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>说明:</span>
        <%= f.text_area :desc, class: "text_area" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>交通:</span>
        <%= f.text_area :traffic, class: "text_area" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>seq:</span>
        <%= f.text_field :seq, class: "text" %>
      </li>
      <li class="line">
        <span class="field_name"><label>*</label>位置:</span>
        <%= f.text_field :position, class: "text" %>
      </li>
      <li>
        <span class="field_name">&nbsp;</span>
        <div style="float_left">
          <%= f.link_to_add "增加图片", :images, class: "float_left" %>
          <%= f.fields_for :images do |image_form| %>
            <%= image_form.file_field :photo %>
            <%= image_form.link_to_remove "删除图片" %>
          <% end %>
        </div>
      </li>
      <li class="line">
         <%= f.submit "提交", class: "button big" %>
      </li>
    </ul>
  </div>
<% end %>

