<div class="title">门票管理</div>
<div class="button-group">
  <a href="#" class="button">新增</a>
  <a href="#" class="button danger">删除</a>
</div>
<div class="jui_table_header">
  <table class="jui_table">
    <tr>
      <th class="center">
        <input type="checkbox" />
      </th>
      <th>景点编号</th>
      <th>景点名称</th>
      <th>所属城市</th>
      <th>子标题</th>
      <th class="center">操作</th>
    </tr>
    <% @admin_tours.each do |tour| %>
    <tr>
      <td class="center" width="30px">
        <input type="checkbox" />
      </td>
      <td><%= tour.id %></td>
      <td><%= tour.title %></td>
      <td><%= tour.city %></td>
      <td><%= tour.sub_title %></td>
      <td class="center" width="80px">
        <%= link_to("修改", edit_admin_tour_path(tour)) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>