<h1>Listing tour_orders</h1>

<table>
  <thead>
    <tr>
      <th>Total price</th>
      <th>Number</th>
      <th>State</th>
      <th>User</th>
      <th>Order infos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_orders.each do |tour_order| %>
      <tr>
        <td><%= tour_order.total_price %></td>
        <td><%= tour_order.number %></td>
        <td><%= tour_order.state %></td>
        <td><%= tour_order.user %></td>
        <td><%= link_to 'Show', tour_order %></td>
        <td><%= link_to 'Edit', edit_tour_order_path(tour_order) %></td>
        <td><%= link_to 'Destroy', tour_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour order', new_tour_order_path %>
