<div class="window">
  <table class="order_table margintop10" cellspacing="0" cellpadding="0">
    <tr>
      <td class="left accordion" valign="top">
        <ul>
          <li class="item">
            <div>
              <span class="menu_font_size">我的订单</span>
              <span class="arrow"></span>
            </div>
            <ul>
              <li>
                <a href="#" class="org active">景点订单</a>
              </li>
              <li>
                <a href="#" class="org">酒店订单</a>
              </li>
            </ul>
          </li>
          <li class="item">
              <div>
                <span class="menu_font_size">个人信息</span>
              </div>
              <ul class="hide">
                <li>
                  <a href="#" class="org">修改密码</a>
                </li>
              </ul>
          </li>
        </ul>
      </td>
      <td class="split">
      </td>
      <td class="right">
        <%= form_tag(tour_orders_path, method: "get", id: "queryForm") do %>
        <div class="menu">
          <ul>
            <li>
              订单状态：
              <%= select_tag "state", options_for_select([['全部','all'], ['待付款','in_progress'], ['已完成','completed'], ['已支付', 'paid'],['已取消', 'canceled']], params[:state]) %> 
            </li>
          </ul>
        </div>
        <div class="status"> 
          <%= select_tag "range", options_for_select([['最近一个月','1'], ['最近三个月','2'], ['最近六个月','3'], ['最近一年', '4']], params[:range]) %> 
          <a href="#" class="float_right">
            <img src="assets/icon_del.png" />
            订单回收站
          </a>
        </div>
        <% end %>
        <div id="orderDiv" class="order_list_div">
          <table class="order_list_table" cellpadding="0" cellspacing="0">
            <tr>
              <th width="250px">订单信息</th>
              <th>订单时间</th>
              <th>订单金额</th>
              <th>订单状态</th>
              <th width="130px">操作</th>
            </tr>
            <% @tour_orders.each do |tour_order| %>
            <tr>
              <td>
                <%= link_to image_tag(tour_order.ticket.tour.image_thumb), tour_order.ticket.tour %>
                <span>订单号：<%= link_to(tour_order.id, tour_order) %></span>
              </td>
              <td>
                <%= tour_order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </td>
              <td>
                ￥<%= tour_order.total_price %>
              </td>
              <td>
                <%= tour_order.human_state %>
              </td>
              <td>
                <%= link_to("查看", tour_order , class: "op_font_color") %>
                <%= link_to(" | 支付", pay_tour_order_path(tour_order) , class: "op_font_color", method: "post") if tour_order.may_pay? %>
                <%= link_to(" | 取消", cancel_tour_order_path(tour_order) , class: "op_font_color", method: "post") if tour_order.may_cancel? %>
                <%= link_to(" | 退款", refund_tour_order_path(tour_order) , class: "op_font_color", method: "post") if tour_order.may_refund? %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="apple_pagination">
          <%= will_paginate @tour %>
        </div>
      </td>
    </tr>
  </table>
</div>