<div class="window">
  <div class="huangguoshu_falls">
    <span class="falls_title">黄果树瀑布</span>
    <span class="online_payment">（网上支付）</span>
  </div>
  <div>
    <%= link_to("支付", pay_tour_order_path(@tour_order) , class: "op_font_color", method: "post") if @tour_order.may_pay? %>
  </div>
  <div class="book_attention">
    <dt>预订须知：</dt>
    <dt>
      <span class="attention">提前预订时间：当天08点前</span>
      <span>门票有效期：出游当前有效</span>
    </dt>
    <dt>
      <span class="attention">入园方式：短信换票入园</span>
      <span>退票说明：可退改，退改日期为1天前15点</span>
    </dt>
  </div>

  <div class="tourinfo">
    <span class="title2 tourdate">
      出游日期：</span>
      2014-08-04
    <span class="title2">
      门票数量：</span><%= @tour_order.number %>
    <dt class="title2">
      配送信息：
      <label for="radio">景区门口售票处自取</label>
    </dt>
  </div>

  <div class="payment">
    <dt>
      门票单价：
      <span class="money">¥<%= @tour_order.ticket.price %></span>
    </dt>
    <dt>
      应付：
      <span class="money">
        <strong>¥<%= @tour_order.total_price %></strong>
      </span>
    </dt>
  </div>

  <dt class="info_title">联系人信息</dt>
  <div class="contactinfo">
    <dd class="info_item">
      <span class="redstar">*</span>
      预订人姓名：
      <%= @tour_order.order_info.name %>
    </dd>
    <dd class="info_item">
      <span class="redstar">*</span>
      预订人手机：
      <%= @tour_order.order_info.tel %>
    </dd>
    <dd class="info_item">
      * 取票人姓名：
      <%= @tour_order.order_info.notify_user %>
    </dd>
    <dd class="info_item">
      * 取票人手机：
      <%= @tour_order.order_info.notify_tel %>
    </dd>
    <dd class="info_item intent1">
      取票人邮箱：
      <%= @tour_order.order_info.email %>
    </dd>
  </div>
  <dt class="info_title">说明信息</dt>
  <div class="reminderinfo">
    <dd>
      优惠政策：A、免费政策：七彩蝶园1.2米以下儿童免票；B、亲子票中儿童指=1.2米或持学生证的学生；C、优惠政策：6-18岁之间学生持学生证购票49元/人，学生票需游客到景区自行购买；65岁以上老年人凭相关证件预定老人票；本单属于特殊优惠，不找零、不兑现、不提供发票，不与其他优惠活动共享。
    </dd>
    <dd>
      温馨提示：1、建议穿轻便的运动鞋，休闲一点的衣服；2、出门需要带的物品：相关证件，雨伞，晕车药等；3、女士特别注意事项：带上防晒霜；4、老人、小孩需要注意：建议有家人陪同，在景区游览要结伴而行。
    </dd>
  </div>
</div>