<div>
  <%= image_tag "001.jpg", class: "full_image" %>
	<div class="window">
		<div class="box margintop10">
			<div class="p_title">
        <%= image_tag "icon_top.png" %>
				<span>热门景点推荐</span>&nbsp;/&nbsp;
				<%= link_to "更多", tours_path, style: "color: #60C4AB" %>
			</div>
			<div class="content top">
				<% tours = Tour.limit(5) %>
				<div class="top1">
					<%= link_to image_tag(tours[0].image_large, class: "top1"), tours[0] %>
					<div class="op"></div>
					<ul>
						<li><%= tours[0].sub_title %></li>
						<li class="top_size"><%= "#{tours[0].title} ￥#{tours[0].price}" %></li>
					</ul>
				</div>
				<div class="float_left top_intenal">
					<div class="top2">
            <%= link_to image_tag(tours[1].image_large, class: "top2"), tours[1] %>
						<div class="op"></div>
						<ul>
							<li><%= tours[1].sub_title %></li>
							<li class="top_size"><%= "#{tours[1].title} ￥#{tours[1].price}" %></li>
						</ul>
					</div>
					<div class="clear_both top_intenal_top">
						<div class="top4">
              <%= link_to image_tag(tours[2].image_large, class: "top4"), tours[2] %>
							<div class="op"></div>
							<ul>
								<li><%= tours[2].sub_title %></li>
								<li class="top_size"><%= "#{tours[2].title} ￥#{tours[2].price}" %></li>
							</ul>
						</div>
						<div class="top5 top_intenal">
              <%= link_to image_tag(tours[3].image_large, class: "top5"), tours[3] %>
							<div class="op"></div>
							<ul>
								<li><%= tours[3].sub_title %></li>
								<li class="top_size"><%= "#{tours[3].title} ￥#{tours[3].price}" %></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="top3 top_intenal">
          <%= link_to image_tag(tours[4].image_large, class: "top3"), tours[4] %>
					<div class="op"></div>
					<ul>
						<li><%= tours[4].sub_title %></li>
						<li class="top_size"><%= "#{tours[4].title} ￥#{tours[4].price}" %></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="box overflow_h margintop10">
			<div class="p_title">
        <%= image_tag "icon_top.png" %>
				<span>酒店推荐</span>&nbsp;/&nbsp;
				<a href="#" style="color: #60C4AB">更多</a>
			</div>
			<div class="content">
				<div class="hotel">
          <%= image_tag "008.jpg" %>
					<div class="info">
						<dl>
							<dd>
								乐天世纪红色浪漫温馨
							</dd>
							<dt>
                <%= image_tag "star.jpg" %>
								<span>推荐</span>
							</dt>
							<dt>
								大床房|41平米|已被预订16晚
							</dt>
							<dt>
								<span class="price">￥358</span>/晚
							</dt>
							<dt>
								<hr />
								<span class="remark">
									详细：贵阳云岩石枣山路95号（近元隆广场、大西门、喷水池、国贸广场、星力百货），近北京路。
								</span>
							</dt>
						</dl>
					</div>
				</div>
				<div class="hotel_list">
					<ul>
						<li>
              <%= image_tag "009.jpg" %><br/>
							<span class="price">￥368</span>/晚已预订12晚
						</li>
						<li>
              <%= image_tag "010.jpg" %><br/>
							<span class="price">￥288</span>/晚已预订59晚
						</li>
						<li>
              <%= image_tag "011.jpg" %><br/>
							<span class="price">￥458</span>/晚已预订12晚
						</li>
						<li>
              <%= image_tag "012.jpg" %><br/>
							<span class="price">￥178</span>/晚已预订78晚
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>