<div>
	<!-- <img src="images/001.jpg" width="100%" /> -->
  <%= image_tag "001.jpg", class: "full_image" %>
	<div class="window">
		<div class="box margintop10">
			<div class="p_title">
        <%= image_tag "icon_top.png" %>
				<span>热门景点推荐</span>&nbsp;/&nbsp;
				<a href="#" style="color: #60C4AB">更多</a>
			</div>
			<div class="content top">
				<div class="top1">
          <%= image_tag "003.jpg" %>
					<div class="op"></div>
					<ul>
						<li>文字描1</li>
						<li class="top_size">黄果树景区 ￥80</li>
					</ul>
				</div>
				<div class="float_left">
					<div class="top2">
            <%= image_tag "004.jpg" %>
						<div class="op"></div>
						<ul>
							<li>文字描1</li>
							<li class="top_size">黄果树景区 ￥80</li>
						</ul>
					</div>
					<div class="clear_both">
						<div class="top4">
              <%= image_tag "006.jpg" %>
							<div class="op"></div>
							<ul>
								<li>文字描1</li>
								<li class="top_size">黄果树景区 ￥80</li>
							</ul>
						</div>
						<div class="top5">
              <%= image_tag "007.jpg" %>
							<div class="op"></div>
							<ul>
								<li>文字描1</li>
								<li class="top_size">黄果树景区 ￥80</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="top3">
          <%= image_tag "005.jpg" %>
					<div class="op"></div>
					<ul>
						<li>文字描1</li>
						<li class="top_size">黄果树景区 ￥80</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="box overflow_h margintop10">
			<div class="p_title">
        <%= image_tag "icon_top.png" %>
				<span>酒店推荐</span>&nbsp;/&nbsp;
				<a href="#" style="color: #60C4AB">更多</a>
			</div>
			<div class="content">
				<div class="hotel">
          <%= image_tag "008.jpg" %>
					<div class="info">
						<dl>
							<dd>
								乐天世纪红色浪漫温馨
							</dd>
							<dt>
                <%= image_tag "star.jpg" %>
								<span>推荐</span>
							</dt>
							<dt>
								大床房|41平米|已被预订16晚
							</dt>
							<dt>
								<span class="price">￥358</span>/晚
							</dt>
							<dt>
								<hr />
								<span class="remark">
									详细：贵阳云岩石枣山路95号（近元隆广场、大西门、喷水池、国贸广场、星力百货），近北京路。
								</span>
							</dt>
						</dl>
					</div>
				</div>
				<div class="hotel_list">
					<ul>
						<li>
              <%= image_tag "009.jpg" %><br/>
							<span class="price">￥368</span>/晚已预订12晚
						</li>
						<li>
              <%= image_tag "010.jpg" %><br/>
							<span class="price">￥288</span>/晚已预订59晚
						</li>
						<li>
              <%= image_tag "011.jpg" %><br/>
							<span class="price">￥458</span>/晚已预订12晚
						</li>
						<li>
              <%= image_tag "012.jpg" %><br/>
							<span class="price">￥178</span>/晚已预订78晚
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>