<%= nested_form_for(@tour, :html => { :multipart => true }) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sub_title %><br>
    <%= f.text_field :sub_title %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :addr %><br>
    <%= f.text_field :addr %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :work_range %><br>
    <%= f.text_field :work_range %>
  </div>
  <div class="field">
    <%= f.label :hint %><br>
    <%= f.text_area :hint %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :traffic %><br>
    <%= f.text_area :traffic %>
  </div>
  <div class="field">
    <%= f.label :seq %><br>
    <%= f.text_field :seq %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>


  <%= f.fields_for :tickets do |ticket_form| %>
    <h1>This is a Ticket</h1>
    
    <div class="field">
      <%= ticket_form.label :style %><br>
      <%= ticket_form.text_field :style %>
    </div>
    <div class="field">
      <%= ticket_form.label :title %><br>
      <%= ticket_form.text_field :title %>
    </div>
    <div class="field">
      <%= ticket_form.label :desc %><br>
      <%= ticket_form.text_area :desc %>
    </div>
    <div class="field">
      <%= ticket_form.label :price %><br>
      <%= ticket_form.text_field :price %>
    </div>
    <%= ticket_form.link_to_remove "Remove this ticket" %>
  <% end %>
  <p><%= f.link_to_add "Add a ticket", :tickets %></p>


  <%= f.fields_for :images do |image_form| %>
    <h1>This is a Image</h1>
      
    <%= image_form.file_field :photo %>
    <%= image_form.link_to_remove "Remove this Image" %>
  <% end %>
  <p><%= f.link_to_add "Add a Image", :images %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>