<div class="window">
  <%= image_tag "013.jpg" %>
  <div class="box margintop10">
    <div class="p_title">
      <%= image_tag "icon_jd.png" %>
      <span>旅游景点</span>
      <div class="tour_city">
        <ul>
          <% @cities.each do |city| %>
            <li><%= link_to(city.name, tours_path(search: city.name)) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="content">
      <% @tours.each do |tour| %>
        <ul class="list">
          <li class="pic">
            <%= link_to image_tag(tour.image_thumb, class: "tour_img"), tour %>
          </li>
          <li class="ctx">
            <dl>
              <dt><%= link_to tour.title, tour %></dt>
              <dd>地址：<%= tour.addr %></dd>
              <dd>特色：<%= tour.sub_title %></dd>
            </dl>
            <ul>
              <% tour.tickets.each_with_index do |ticket, index| %>
              <li class="list<%= " hide" if(index > 1) %>">
                <ul>
                  <li class="t1"><%= ticket.style %></li>
                  <li class="t2"><%= ticket.title %></li>
                  <li class="t3">￥<%= ticket.price %></li>
                  <li class="t4"><%= link_to "预订", new_tour_order_path(ticket_id: ticket.id), class: "price_font" %></li>
                </ul>
              </li>
              <% end %>
              <% if tour.tickets.count > 2 %>
                <li class="list_line">
                  <a class="showall na" href="javascript:void(0)">
                    查看全部（<%= tour.tickets.count %>）
                    <%= image_tag "arrow_down.png" %>
                  </a>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="apple_pagination">
      <%= will_paginate @tour %>
    </div>
  </div>
</div>