<div class="window">
  <div class="box margintop10">
    <div class="p_title">
      <%= image_tag "icon_jd.png" %>
      <span>旅游景点</span>
    </div>
    <div class="content">
      <ul class="list">
        <% @tours.each do |tour| %>
          <li class="pic">
            <%= link_to image_tag(tour.image_thumb, class: "tour_img"), tour %>
          </li>
          <li class="ctx">
            <dl>
              <dt><%= link_to tour.title, tour %></dt>
              <dd>地址：<%= tour.addr %></dd>
              <dd>特色：<%= tour.sub_title %></dd>
            </dl>
            <ul>
              <% tour.tickets.each_with_index do |ticket, index| %>
              <li class="list<%= " hide" if(index > 1) %>">
                <ul>
                  <li class="t1"><%= ticket.type %></li>
                  <li class="t2"><%= ticket.title %></li>
                  <li class="t3">￥<%= ticket.price %></li>
                  <li class="t4"><%= button_to "预订", tour_ticket_path(tour, ticket), class: "t4" %></li>
                </ul>
              </li>
              <% end %>
              <% if tour.tickets.count > 2 %>
                <li class="list_line">
                  <a class="showall na" href="####">
                    查看全部（<%= tour.tickets.count %>）
                    <%= image_tag "arrow_down.png" %>
                  </a>
                </li>
              <% end %>
            </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>