<div class="window">
  <%= image_tag "013.jpg" %>
  <div class="layout margintop10">
    <div class="content">
      <div class="left">
        <div id="boxID">
          <div class="pic">
            <ul>
              <% @tour.images.each do |image| %>
                <li>
                  <%= image_tag image.photo.url, class: "tour_show_img" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <dl>
          <dt>
            <span class="dt_font_size">
              <%= @tour.title %></span>
            <span>AAAAA级景区</span>
          </dt>
          <dt>
            <%= @tour.sub_title %></dt>
          <dt>
            服务承诺
            <%= image_tag "015.jpg" %></dt>
          <dt>
            景点地址&nbsp;
            <%= @tour.addr %>
            <a class="hand dt_font_color" href="#map">
            <%= image_tag "016.jpg", class: "hand" %>
            查看地图</a>
          </dt>
          <dt>营业时间 <%= @tour.work_range %></dt>
        </dl>
        <div class="tour_line"></div>
        <div class="price">
          ￥
          <%= @tour.price %>元起</div>
      </div>
    </div>
  </div>
  <div class="layout margintop10">
    <div class="content">
      <div class="title">
        <%= image_tag "023.jpg" %>
        <span>门票</span>
      </div>
      <div class="ticket_table_tr ticket_table_th">
        <ul>
          <li class="td1">种类</li>
          <li class="td2">名称</li>
          <li class="td3">价格</li>
          <li class="td4">优惠</li>
          <li class="td5">支付方式</li>
          <li class="td6">&nbsp;</li>
        </ul>
      </div>
      <div class="hint"><%= @tour.title %>【编号：<%= @tour.seq %>】</div>
      <div class="ticket_table_tr">
        <% @tour.tickets.each do |ticket| %>
          <ul>
            <li class="td1"><%= ticket.style %></li>
            <li class="td2 ticket_font_color1 text_align_l">
              <%= ticket.title %>
            </li>
            <li class="td3 ticket_font_color2"> <em>¥</em>
              <%= ticket.price %>
            </li>
            <li class="td4 ticket_font_color3"> <em>¥</em>
              -20
            </li>
            <li class="td5 ticket_font_color4">在线支付</li>
            <li class="td6">
              <%= link_to "预订", new_tour_order_path(ticket_id: ticket.id), class: "btn_order" %>
            </li>
          </ul>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="show_detail">
    <div class="tab">
      <ul>
        <li class="tab_link li_hover">
          <a href="#ydxz">预订须知</a>
        </li>
        <li class="tab_link li_left">
          <a href="#jdjj">景点介绍</a>
        </li>
        <li class="tab_link li_left">
          <a href="#dtjt">地图交通</a>
        </li>
      </ul>
      <div class="tab_content">
        <div class="tab_layout">
          <div class="left">
            <a name="ydxz" class="font">预订须知</a>
          </div>
          <div class="right">
            <p><%= @tour.hint %></p>
          </div>
        </div>
        <div class="tab_layout">
          <div class="left">
            <a name="jdjj" class="font">景点简介</a>
          </div>
          <div class="right">
            <p><%= @tour.desc %></p>
          </div>
        </div>
        <div class="tab_layout">
          <div class="left">
            <a name="dtjt" class="font">地图交通</a>
          </div>
          <div class="right">
            <a name="map"></a>
            <div id="bMap">
            </div>
            <div>
              <%= @tour.traffic %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tour_other">
    <span class="title">周边景点推荐</span>
    <% @tour.relate_tours(5).each do |relate_tour| %>
      <div class="line"></div>
      <div class="item">
        <div class="float_left">
          <%= link_to image_tag(relate_tour.image_thumb), relate_tour %>
        </div>
        <div class="content">
          <dl>
            <dt><%= link_to relate_tour.title, relate_tour %></dt>
            <dt>票价：<span class="price_color">¥<%= relate_tour.price %></span>
            </dt>
          </dl>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wBIWFAbfDRVkW0Hnsd5UGmlW"></script>
<script type="text/javascript">
    $(".tab_link").click(function(event) {
      $(".tab_link").removeClass('li_hover');
      $(this).addClass('li_hover');
    });
    var map = new BMap.Map("bMap");
    map.disableScrollWheelZoom();
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.PanoramaControl());
    var myGeo = new BMap.Geocoder();
    myGeo.getPoint("<%= @tour.addr %>", function(point){
      if (point) {
        map.centerAndZoom(point, 16);
        map.addOverlay(new BMap.Marker(point));
      }
    }, "<%= @tour.city %>");
</script>