<div class="window">
  <%= image_tag "013.jpg" %>
  <div class="tour_layout margintop10">
    <div class="content">
      <div class="left">
        <div class="slider-wrapper theme-default">
          <div id="slider" class="nivoSlider">
            <% @tour.images.each do |image| %>
              <%= image_tag image.photo.url, class: "tour_show_img" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="right">
        <dl>
          <dt>
            <span class="dt_font_size">
              <%= @tour.title %></span>
            <span>AAAAA级景区</span>
          </dt>
          <dt>
            <%= @tour.sub_title %></dt>
          <dt>
            服务承诺
            <%= image_tag "015.jpg" %></dt>
          <dt>
            景点地址&nbsp;
            <%= @tour.addr %>
            <a class="hand dt_font_color" href="#map">
            <%= image_tag "016.jpg", class: "hand" %>
            查看地图</a>
          </dt>
          <dt>营业时间 <%= @tour.work_range %></dt>
        </dl>
        <div class="tour_line"></div>
        <div class="price">
          ￥
          <%= @tour.price %>元起</div>
      </div>
    </div>
  </div>
  <div class="tour_layout margintop10">
    <div class="content">
      <div class="title">
        <%= image_tag "023.jpg" %>
        <span>门票</span>
      </div>
      <div class="ticket_table_tr ticket_table_th">
        <ul>
          <li class="td1">种类</li>
          <li class="td2">名称</li>
          <li class="td3">价格</li>
          <li class="td4">优惠</li>
          <li class="td5">支付方式</li>
          <li class="td6">&nbsp;</li>
        </ul>
      </div>
      <div class="hint"><%= @tour.title %>【编号：<%= @tour.seq %>】</div>
      <div class="ticket_table_tr">
        <% @tour.tickets.each do |ticket| %>
          <ul>
            <li class="td1"><%= ticket.style %></li>
            <li class="td2 ticket_font_color1 text_align_l">
              <%= ticket.title %>
            </li>
            <li class="td3 ticket_font_color2"> <em>¥</em>
              <%= ticket.price %>
            </li>
            <li class="td4 ticket_font_color3"> <em>¥</em>
              -20
            </li>
            <li class="td5 ticket_font_color4">在线支付</li>
            <li class="td6">
              <!-- 样式不对 
              <%= button_to "预订", class: "btn_order" %>
              -->
              <input type="button" value="预订" class="btn_order" />
            </li>
          </ul>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="show_detail">
    <div class="tab">
      <ul>
        <li class="li_hover">
          <a href="#ydxz">预订须知</a>
        </li>
        <li class="li_left">
          <a href="#jdjj">景点介绍</a>
        </li>
        <li class="li_left">
          <a href="#dtjt">地图交通</a>
        </li>
      </ul>
      <div class="content">
        <div class="layout">
          <div class="left">
            <a name="ydxz" class="font">预订须知</a>
          </div>
          <div class="right">
            <dl>
              <dt>【黄果树瀑布门票】</dt>
              <dt class="font_bold">预订限制</dt>
              <dd>
                本产品限网上及手机客户端预订，不接受电话预订。
                本产品仅限成人预订，儿童票请自行前往景区购买。
              </dd>
              <dt class="font_bold">费用说明</dt>
              <dd>
                以上优惠政策仅供参考，具体以贵州黄果树风景名胜区当天披露为准。
                免费政策：14周岁（不含14岁）以下儿童凭本人身份证或户口簿办理免票入园；
                70周岁以上老年人凭本人身份证办理
                免费入园；记者凭记者证（国家新闻总署或国家广播电视总局签发）办理免费入园；
                现役军人、残疾军人、残疾人凭有效证件办理免费入园。 
                优惠政策：全日制大学本科及以下学历在校学生，凭本人学生证享受五折购票优惠；下岗工人凭有效证件五折
                购票优惠；城市低保对象、农村“五保户”凭证件五折购票优惠；60-69周岁的老年人凭本人身份证享受五折购票优惠。
              </dd>
            </dl>
          </div>
        </div>
        <div class="layout">
          <div class="left">
            <a name="jdjj" class="font">景点简介</a>
          </div>
          <div class="right">
            <dl>
              <dt>
                <span class="font_bold">[特色1]</span>
                中华第一大瀑布。
              </dt>
              <dt>
                <span class="font_bold">[特色2]</span>
                黄果树风景名胜区以黄果树大瀑布景区为中心，分布有石头寨景区、天星桥景区、滴水滩瀑布景区、霸陵河峡谷三国古驿道景区、陡坡塘景区、郎宫景区等几大景区。
              </dt>
              <dt>
                <spam class="font_bold">[特色3]</spam>
                黄果树景区内风景秀丽、环境优美、空气清新、气候宜人。
              </dt>
              <dd class="text_align_c">
                <%= image_tag "020.jpg" %>
                <%= image_tag "021.jpg" %></dd>
              <dd>
                黄果树国家重点风景名胜区位于贵州省西南距省会贵阳市128公里,距旅游中心安顺市45公里,有滇黔铁路、株六复线铁路、黄果树机场、320国道、贵黄（贵阳至黄果树）高等级公路、沪昆高速（G60）路直达景区。是我国第一批国家重点风景名胜区和首批获得国家评定的5A级风景名胜区之一。1999年11月被中国科协定为全国科普教育基地。
              </dd>
              <dd>
                黄果树风景名胜区以黄果树瀑布景区为中心，分布有天星桥景区、陡坡塘景区、滴水滩瀑布景区、霸陵河峡谷三国古驿道景区、郎宫景区、以石头寨为首的黄果树布依族十大村寨等几大景区，是国家重点风景名胜区和首批国家5A级旅游景区。景区先后被评为全国科普教育基地、“全国文明风景区”示范点、“西部最具魅力旅游景区”。2005年，被中国国家地理杂志社评为“中国最美丽的地方”，被人民日报社评为“中国风景名胜区顾客十大满意品牌”，荣获“欧洲游客最喜爱的中国十大景区”，2007年3月被评为国家首批5A级风景区等荣誉称号。
              </dd>
            </dl>
          </div>
        </div>
        <div class="layout">
          <div class="left">
            <a name="dtjt" class="font">地图交通</a>
          </div>
          <div class="right">
            <dl>
              <dd>
                <a name="map"></a>
                <div id="bMap">
                </div>
              </dd>
              <dt class="font_bold">交通信息</dt>
              <dt class="font_bold">自驾线路</dt>
              <dd>
                贵黄公路：贵阳—清镇—平坝—安顺—镇宁—黄果树瀑布；里程134公里，耗时约2小时； 320国道：贵阳—平坝—安顺—镇宁—黄果树瀑布—关岭—晴隆—胜景关—曲靖—昆明； 水黄高等级公路：水城（六盘水）—黄果树瀑布；里程135公里，耗时约2小时30分钟； 关兴高等级公路：兴义—兴仁—关岭—黄果树瀑布；里程170公里，耗时约3小时。
              </dd>
              <dt class="font_bold">公交线路</dt>
              <dd>
                贵阳—安顺—黄果树乘车指南：贵阳——黄果树：里程134公里，票价50元/人，耗时约2小时30分钟，发车时间早上8:00—12：45，适合旅游旺季乘坐，发车地点：金阳汽车总站。贵阳——安 顺：里程95公里，票价35元/人，20分钟/班，耗时约1小时30分钟，发车时间7:00—19:00，发车地点：贵阳市金阳车站，终点站：安顺汽车南站、安顺汽车西站（请购南站班次车辆）。 安顺——黄果树：里程47公里，票价18元/人，20分钟/班，耗时约1个小时，发车地点：汽车南站；如果终点站是汽车西站，则乘坐安顺——关岭客车至黄果树停车场下车。金阳汽车总站：火车站乘市内公交车219到终点站即可到达；电话：0851-6511674、6505805 安顺汽车南站：南华路黔东大厦对面，电话：0853－3222169 ，发往地点：贵阳、六枝特区、兴义、织金、黄果树等方向。 安顺汽车西站：塔西路公安大楼旁边，电话：0853－3223839 ，发往地点：发车的方向与南站差不多，此外还有发往普定、格凸河、花江大峡谷的车。
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tour_other">
    <span class="title">周边景点推荐</span>
    <div class="item">
      <div class="float_left">
        <%= image_tag "018.jpg" %>
      </div>
      <div class="content">
        <dl>
          <dt>龙宫</dt>
          <dt>票价：<span class="price_color">￥180</span>
          </dt>
        </dl>
      </div>
    </div>
    <div class="line"></div>
    <div class="item">
      <div class="float_left">
        <%= image_tag "018.jpg" %>
      </div>
      <div class="content">
        <dl>
          <dt>龙宫</dt>
          <dt>票价：<span class="price_color">￥180</span></dt>
        </dl>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wBIWFAbfDRVkW0Hnsd5UGmlW"></script>
<script type="text/javascript">
  var map = new BMap.Map("bMap");
  map.disableScrollWheelZoom();
  map.addControl(new BMap.NavigationControl());
  map.addControl(new BMap.PanoramaControl());
  var myGeo = new BMap.Geocoder();
  myGeo.getPoint("东方明珠", function(point){
    if (point) {
      map.centerAndZoom(point, 16);
      map.addOverlay(new BMap.Marker(point));
    }
  }, "上海市");  

  $(document).ready(function() {
    $('#slider').nivoSlider();
  });
</script>