
<div class="window">
  <%= image_tag "hotel.png" %>
  <div class="search_bar">
    <div>
      <input id="txtCity" type="text" class="input" placeholder="选择城市" />
    </div>
    <div id="cityDiv" class="dialogDiv">
      <ul>
        <li>贵阳</li>
        <li>遵义</li>
        <li>凯里</li>
        <li>安顺</li>
        <li>都匀</li>
        <li>毕节</li>
        <li>铜仁</li>
      </ul>
    </div>
    <div>
      <sapn>入住</sapn>
      <input type="text" class="input" />
    </div>
    <div>
      <sapn>离店</sapn>
      <input type="text" class="input" />
    </div>
    <div>
      <input type="text" class="input width" placeholder="酒店名、地标、商圈、可组合搜索" />
    </div>
    <div>
      <%= image_tag "btn_search.png" %>
    </div>
  </div>
  <div class="box margintop10">
    <div class="p_title">
      <%= image_tag "icon_top.png" %>
      <span>热门酒店</span>
      <div class="area_bar">
        <ul>
          <li>贵阳</li>
          <li>遵义</li>
          <li>凯里</li>
          <li>安顺</li>
          <li>都匀</li>
          <li>毕节</li>
          <li>铜仁</li>
          <li>更多</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="hotels_list">
        <% @hotels.each do |hotel| %>
        <ul>
          <li>
            <%= image_tag "024.png" %>
          </li>
          <li class="left">
            <dl>
              <dd class="name">
                <%= hotel.name %>
              </dd>
              <dd>
                <!-- <%= hotel.addr %> 区和地区 -->
                <span class="address">某某地区</span>&nbsp;&nbsp;
                <span class="address">云岩区</span>
              </dd>
              <dd>
                <span>4.5分</span>&nbsp;|&nbsp;
                <span>来自1396人点评</span>
              </dd>
              <dd class="dian">
                “希望能够这样的价格添加早餐，不熟悉的朋友难找早餐吃啊。”
              </dd>
            </dl>
          </li>
          <li class="right">
            <dl>
              <dd class="height">
                <span class="p1">￥</span>
                <span class="price">658</span>
                <span class="p2">起</span>
              </dd>
              <dd>
                <span class="fan">直返</span><span class="f_price">30元</span>
              </dd>
              <dd>
                <font color="#10a200">最新预订：3小时前</font>
              </dd>
            </dl>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
