<div class="window">
  <%= image_tag "hotel_detail.png" %>
  <div class="layout margintop10">
    <div class="content">
      <div class="hotel_show_title">
        <div class="name">
          <span class="span_c"><%= @hotel.name %></span>
          <span>Howard Johnson Plaza Hotel Guiyang</span>
          <div class="clear_both">
            <%= image_tag "star.png" %>
            <%= image_tag "star.png" %>
            <%= image_tag "star.png" %>
            <%= image_tag "star.png" %>
            <%= image_tag "star.png" %>
          </div>
        </div>
        <div class="right_price">
          <span class="p1">￥</span>
          <span class="price">658</span>
          <span class="p2">起</span>
        </div>
      </div>
      <div class="hotel_show_desc">
        <div class="float_left">
          <%= @hotel.addr %>
        </div>
        <div class="float_right">
          <span class="f_color_order">
            最新预订：41分钟前&nbsp;&nbsp;&nbsp;
          </span>
          <input type="button" value="立即预订" class="btn_new_order" />
        </div>
      </div>
      <div class="hotel_show_pic">
        <ul>
          <li class="pic">
            <%= image_tag "025.png" %>
            <div class="desc">
              酒店图片共有26张
            </div>
          </li>
          <li class="pic_list">
            <div class="float_left img_size_1">
              <%= image_tag "026.png", class: "img_size_1" %>
            </div>
            <div class="float_left img_size_2 margin_left_5">
              <%= image_tag "027.png", class: "img_size_2" %>
            </div>
            <div class="clear_both float_left img_size_2 margin_top_5">
              <%= image_tag "028.png", class: "img_size_2" %>
            </div>
            <div class="float_left img_size_1 margin_left_5 margin_top_5">
              <%= image_tag "029.png", class: "img_size_1" %>
            </div>
          </li>
          <li class="dp_map">
            <div class="dp">
              <div>
                <span class="font_size">4.5</span>
                <span>/5分 95%用户推荐</span><br/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="font_color">
                  源自1398位住客点评
                </span>
              </div>
              <div>
                <input type="button" value="查看所有点评" class="btn_dp font_color_blue" />
              </div>
            </div>
            <div class="map">
              <div id="mapView"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab_div margintop10">
    <div class="tab">
      <ul>
        <li class="tab_link hover">
          <a href="#fxyd">房型预订</a>
        </li>
        <li class="tab_link left">
          <a href="#zkxq">详细介绍</a>
        </li>
        <li class="tab_link left">
          <a href="#zkdp">住客点评</a>
        </li>
      </ul>
      <div class="tab_content">
        <div class="fxyd">
          <div class="bar">
            <span>入住</span>
            <input type="text" id="cal_start" class="input_cxcalendar" />
            <span class="marginleft10">退房</span>
            <input type="text" id="cal_end" class="input_cxcalendar" />
            <input type="button" id="btnHotelSearch" value="确定" />
          </div>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="text_align_l" width="150px">&nbsp;房型</th>
              <th></th>
              <th>床型</th>
              <th>早餐</th>
              <th>宽带</th>
              <th>政策</th>
              <th>房价(含服务费)</th>
              <th></th>
            </tr>
            <tr>
              <td rowspan="2" class="first">
                <div class="float_left">
                  <%= image_tag "030.png" %>
                </div>
                <div class="float_left marginleft10">
                  <span class="span_name font_color_blue">豪华客房</span>
                  <span class="span_detail">
                    查看详情&nbsp;
                    <%= image_tag "arrow_down.png" %>
                  </span>
                </div>
              </td>
              <td class="price_type">
                携程标准价
              </td>
              <td>
                大/双
              </td>
              <td>
                双早
              </td>
              <td>
                <span class="kd">有线免费</span>
              </td>
              <td>
                <span class="zc">不可取消</span>
              </td>
              <td>
                ￥<span class="price">658</span>
                <span class="fan">直返</span><span class="f_price">30元</span>
              </td>
              <td>
                <input type="button" value="预订" class="btnHotelShowOrder" />
                <span class="yf">预付</span>
              </td>
            </tr>
            <tr class="second">
              <td class="price_type">
                携程标准价<span class="span_li">礼</span>
              </td>
              <td>
                大/双
              </td>
              <td>
                双早
              </td>
              <td>
                <span class="kd">有线免费</span>
              </td>
              <td>
                <span class="zc">不可取消</span>
              </td>
              <td>
                ￥<span class="price">658</span>
              </td>
              <td>
                <input type="button" value="预订" class="btnHotelShowOrder" />
                <span class="jz">紧张</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="clear_both">
          <div class="hoteldetail">
            <a name="zkxq" class="font">住客详情</a>
          </div>
          <div class="detailcontent">
            <dt class="detailsubhead">酒店介绍</dt>
            <dd class="detailinfo">
              酒店 2003年开业 2012年装修 310间房 电话：0851-5418888 传真：0851-6517777  纠错
            </dd>
            <dd class="detailinfo intent2">
              贵州天怡豪生大酒店位于“林城”————贵阳，地处“天然氧吧”黔灵公园右侧，邻近省图书馆、博物馆等文化中心区。酒店距国家级风景名胜区黄果树大瀑布仅需2小时车程，交通便捷。
            </dd> 

            <div class="detailsolid">       
            </div>  

            <dt class="detailsubhead">酒店设施</dt>
            <dd class="detailinfo detaildash">
              <strong>网络设施</strong>
              有可无线上网的公共区域 免费
            </dd>
            <dd class="detailinfo detaildash">
              <strong>停车场</strong> 
              免费停车场   
            </dd>
            <dd class="detailinfo">
              <strong>酒店设施</strong>
              免费停车场 免费旅游交通图（可赠送）穿梭机场班车 免费 免费洗漱用品（6样以上） 免费瓶装水 免费报纸 中餐厅 更多>
            </dd>

            <div class="detailsolid">       
            </div>

            <dt class="detailsubhead">酒店政策</dt>
            <dd class="detailinfo detaildash">
              <strong>入住和离店</strong>
              入住时间：14:00以后    离店时间：12:00以前
            </dd>
            <dd class="detailinfo detaildash">
              <strong>取消政策</strong>
              不同类型的客房附带不同的取消预订和预先付费政策 选择上述客房时，请参阅“客房政策”。
            </dd>
            <dd class="detailinfo">
              <strong>押金/预付款</strong>
              入住时需要出示政府核发的身份证（带照片）。
            </dd>
            <dd class="detailinfo intent7 detaildash">
              请携带信用卡和现金以支付押金或额外费用。
            </dd>
            <dd class="detailinfo detaildash"> 
              <strong>宠物</strong>
              允许携带宠物。酒店会收取额外费用。
            </dd>
            <dd class="detailinfo">
              <strong>特殊条款</strong>
              信用卡授权解除需时1-3个月。视不同国家、城市之银行操作时间而定。
            </dd>
            <div class="detailsolid">       
            </div>
          </div>
        </div>
        <div class="dianping">
          <div class="dp_title">
            <a name="zkdp" class="font">住客点评</a>
          </div>
          <div class="dp_content">
            <div class="line first">
              整体评价
              <%= image_tag "star.png" %>
              <%= image_tag "star.png" %>
              <%= image_tag "star.png" %>
              <%= image_tag "star.png" %>
              <%= image_tag "star.png" %>
              <span class="font_color_blue">4.5分</span>
            </div>
            <div class="line">
              <input id="radAll" name="radType" type="radio" checked="checked" /><label for="radAll">全部</label>
              <input id="radGood" name="radType" type="radio" /><label for="radGood">好评</label>
              <input id="radMid" name="radType" type="radio" /><label for="radMid">中评</label>
              <input id="radBad" name="radType" type="radio" /><label for="radBad">差评</label>
            </div>
            <div class="line">
              <div class="user_info">
                <div class="clear_both">
                  <%= image_tag "031.png" %>
                </div>
                <div class="u_name">lfny0040</div>
                <div class="u_level">点评新手</div>
                <div class="u_dianping">
                  <%= image_tag "032.png" %>
                  <span>1篇点评</span>
                </div>
              </div>
              <div class="user_cnt">
                <div class="u_title">
                  很棒的哟
                </div>
                <div class="line_h">
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                </div>
                <div>
                  <p>很棒的哟！下次去了还会继续入住！喜欢在48层看贵阳夜景，美美的！</p>
                </div>
                <div>
                  <p>2014年06月入住</p>
                </div>
              </div>
              <div class="bottom">
                <a href="#" class="na">
                  <%= image_tag "033.png" %>
                  <span>有用</span>&nbsp;&nbsp;
                </a>
                <a href="#" class="na">
                  <%= image_tag "034.png" %>
                  <span>评论</span>
                </a>
              </div>
            </div>
            <div class="line bottom">
              <div class="user_info">
                <div class="clear_both">
                  <%= image_tag "031.png" %>
                </div>
                <div class="u_name">lfny0040</div>
                <div class="u_level">点评新手</div>
                <div class="u_dianping">
                  <%= image_tag "032.png" %>
                  <span>1篇点评</span>
                </div>
              </div>
              <div class="user_cnt">
                <div class="u_title">
                  很棒的哟
                </div>
                <div class="line_h">
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                  <%= image_tag "star.png" %>
                </div>
                <div>
                  <p>很棒的哟！下次去了还会继续入住！喜欢在48层看贵阳夜景，美美的！</p>
                </div>
                <div>
                  <p>2014年06月入住</p>
                </div>
              </div>
              <div class="bottom">
                <a href="#" class="na">
                  <%= image_tag "033.png" %>
                  <span>有用</span>&nbsp;&nbsp;
                </a>
                <a href="#" class="na">
                  <%= image_tag "034.png" %>
                  <span>评论</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wBIWFAbfDRVkW0Hnsd5UGmlW"></script>
<script type="text/javascript">
  var map = new BMap.Map("mapView");
  map.disableScrollWheelZoom();
</script>
