<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag    'jui-all', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jui">
    <div class="jui_top"></div>
    <%= render "admin/share/menu" %>
    <div class="jui_content">
      <%= render "admin/share/left" %>
      <div class="jui_right">
        <%= yield %>
      </div>
    </div>
    <%= render "admin/share/footer" %>
  </div>
</body>
</html>
